<div class="site-footer container">
  <ul class="links">
    <li class="copy">© 2017 <span>Online Board</span>, All right reserved.</li>
    <li><a href="{{pages.mit}}">MIT license</a></li>
    <li><a href="{{pages.git}}">GitHub repository</a></li>
    <li><a href="{{pages.releases}}">Releases</a></li>
  </ul>

  <a href="{{pages.home}}"
     aria-label="Online Board"
     class="site-title"
     title="Online Board">
    Online Board v.{{version}}
  </a>

  <ul class="links right">
    <li><a href="{{pages.bugs}}">Report a bug</a></li>
    <li><a href="{{pages.about}}">About</a></li>
  </ul>
</div>
