<button md-button
        class="menu-button"
        [mdMenuTriggerFor]="menu"
        *ngIf="(user | async)?.email && (user | async)?.emailVerified">
    <md-icon class="user-avatar">account_circle</md-icon>
    <span class="user-name">{{ (user | async)?.email }}</span>
  <md-icon class="expand-icon">expand_more</md-icon>
</button>

<md-menu #menu="mdMenu"
         x-position="before">

  <button md-menu-item
          *ngIf="isInsideBoard()"
          (click)="inviteColaborators()">
          <md-icon>share</md-icon>
          <span>Invite colaborators</span>
  </button>

  <button  md-menu-item
          *ngIf="isInsideBoard()"
          (click)="downloadBoard()">
          <md-icon>file_download</md-icon>
          <span>Download board</span>
  </button>

  <button  md-menu-item
          (click)="logout()">
          <md-icon>exit_to_app</md-icon>
          <span>Sign Out</span>
  </button>

</md-menu>
