<button md-button
        class="menu-button"
        [mdMenuTriggerFor]="menu"
        *ngIf="(user | async)?.email && (user | async)?.emailVerified">
    <md-icon class="user-avatar">account_circle</md-icon>
    <span class="user-name">{{ (user | async)?.email }}</span>
  <md-icon class="expand-icon">expand_more</md-icon>
</button>

<md-menu #menu="mdMenu"
         x-position="before">
  <button  md-menu-item
          (click)="logout()">
          <span>Sign Out</span>
  </button>
</md-menu>
