.item-list {
  width: 33.3%;
  padding: 6px;
  box-sizing: border-box;
  display: inline-block;
}

.full-width {
  width: 100%;
}

textarea {
  resize: none;
}

.item-list-container {
  display: flex;
}

.item-list ul,
.item-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
