@import "../../globals/app-theme";

:host {
  display: block;
}

.board-name {
  padding: 10px;
  font-size: 45px;
  text-align: center;
  font-family: 'WhateverItTakesBold', helvetica;
}

.item-list-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 901px) {
    flex-direction: row;
  }
}

.item-list {
  flex: 1;

  @media (min-width: 901px) {
    padding: 0 10px;
  }
}

.item-list__title {
  margin: 40px 0;
  font-size: 40px;
  text-align: center;
  font-family: 'WhateverItTakes', helvetica;
}

.item-list__title span {
  padding: 0 5px 0 10px;
}

.note * {
  font-family: 'WhateverItTakesBold', helvetica;
  font-size: 32px;
}

.unpinned-note .new-item {
  font-size: 28px;
}

.pinned-note .mat-card-footer .note-author {
  padding-right: 24px;
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: 18px;
  opacity: 0.6;
  transition: opacity .2s ease-in-out;
}

.pinned-note .mat-card-footer .note-author:hover {
  opacity: 1;
  animation: all;
  font-weight: bold;
}
.pinned-note .edit-icon {
  opacity: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}

.pinned-note:hover .edit-icon {
  transition: opacity 0.25s ease-in-out;
  opacity: 0.6;
}

.unpinned-note .pin-me-btn {
  background-color: rgba(0, 0, 0, 0.08);
  font-size: 30px;
}

.unpinned-note .pin-me-btn .pin-icon {
  height: 30px;
}

.note textarea {
  resize: none;
}

.invite-collaborators {
  max-width: 800px;
  margin-top: 100px;
  background: $light-gray;
}
