:host {
  display: block;
}

.board-name,
.note * {
  font-family: 'WhateverItTakesBold', helvetica;
}

.board-name {
  padding: 10px;
  font-size: 45px;
  text-align: center;
}

.item-list-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 901px) {
    flex-direction: row;
  }
}

.item-list {
  flex: 1;

  @media (min-width: 901px) {
    padding: 0 10px;
  }
}

.item-list__title {
  margin: 40px 0;
  font-size: 40px;
  text-align: center;
  font-family: 'WhateverItTakes', helvetica;
}

.item-list__title span {
  padding: 0 5px 0 10px;
}

.note * {
  font-size: 32px;
}

.note textarea {
  resize: none;
}

.unpinned-note .new-item {
  font-size: 28px;
}

.pinned-note {
  cursor: move;
  cursor: grab;
}

.pinned-note:active {
}

.pinned-note.dragging {
  opacity: 0.8;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  cursor: grabbing;
}

.pinned-note .mat-card-content {
  margin-bottom: 0;
}

.pinned-note .mat-card-actions {
  cursor: default;
  padding-top: 0;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.pinned-note:hover .mat-card-actions {
  opacity: 1;
}

.pinned-note .mat-card-actions .material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  opacity: 0.6;
}

.pinned-note .mat-card-actions .material-icons:hover {
  opacity: 0.85;
}

.pinned-note .note-author {
  display: block;
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: 16px;
  opacity: 0.6;
}

.unpinned-note .pin-me-btn {
  background-color: rgba(0, 0, 0, 0.08);
  font-size: 30px;
}

.unpinned-note .pin-me-btn .pin-icon {
  height: 30px;
}
