<md-spinner *ngIf="pageLoading" class="loading-spinner"></md-spinner>

<div class="block-xxl" *ngIf="!pageLoading">
  <h3 class="board-name">{{ boardName }}</h3>

  <div class="item-list-container">
    <div class="item-list"
         *ngFor="let column of columns | async; let columnID = index">
      <div class="item-list__title">
        <span>{{ column.title }}</span>
        <md-icon>{{ cardEmoticon(column.title) }}</md-icon>
      </div>

      <md-card [style.background]="column.color"
               *ngFor="let item of column.items | keyobject; let i = index"
               class="note pinned-note mat-elevation-z2">
        <img class="edit-icon"
             (click)="editItem(item)"
             src="../../assets/images/marker.png"
             alt="edit note">

       <md-card-content>
          <span>{{item.value.val}}</span>
        </md-card-content>

        <md-card-footer>
          <p class="note-author">- {{item.value.author}}</p>
        </md-card-footer>
      </md-card>

      <md-card [style.background]="column.color"
               (mouseenter)="elevateCard(columnID)"
               (mouseleave)="removeElevation(columnID)"
               class="note unpinned-note mat-elevation-z10"
               [class.mat-elevation-z18]="isElevated(columnID)">
        <form (ngSubmit)="pushItem(newItem, column)"
              class="form">

          <md-input-container class="full-width">
            <textarea mdInput
                      #newItem
                      class="new-item"
                      placeholder="Write your feedback"
                      mdTextareaAutosize></textarea>
          </md-input-container>

          <button md-button
                  type="submit"
                  name="new-item"
                  class="pin-me-btn">
            Pin me
            <img class="pin-icon"
                 src="../../assets/images/pushpin.png"
                 alt="Pin me">
          </button>
        </form>
      </md-card>

    </div>
  </div>

  <md-card class="invite-collaborators">
    <md-card-title>
      Invite more collaborators to this board:
    </md-card-title>

    <md-card-content>
      <form [formGroup]="collaboratorsForm"
            (ngSubmit)="inviteCollaborator()"
            class="form"
            novalidate>
        <md-input-container class="full-width">
          <input mdInput
                 placeholder="Email address"
                 type="email"
                 name="collaborator"
                 formControlName="collaborator">
        </md-input-container>

        <md-card-actions align="end">
          <button md-raised-button
                  type="submit"
                  name="invite-collaborator"
                  [disabled]="!collaboratorsForm.valid || sendingInvite"
                  color="accent">
            <span>Invite</span>
            <md-spinner color="primary"
                        strokeWidth="8"
                        *ngIf="sendingInvite"
                        class="loading-spinner-bt"></md-spinner>
          </button>
        </md-card-actions>
      </form>
    </md-card-content>
  </md-card>

</div>
