.customize-toolbar{
  display: block;
  background-color: #0db5ba;
  color: white;
}

.backBtn{
  order: 1;
}

.backBtn .mat-icon {
  font-size: 30px;
  height: 30px;
}

.toolbar-title {
  order: 2;
  flex: 1;
  text-align: center;
}

.toolbar-menu {
  order: 3;
}
