#app-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-toolbar {
  display: block;
  position: relative;
  width: 100%;
  z-index: 99;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
}

.page-container {
  flex: 1;
}

.footer {
  margin-top: 100px;
}

* /deep/ .loading-spinner {
  margin: 100px auto;
}
