<div id="app-container"
     @fadeIn="">
  <app-main-toolbar class="app-toolbar"
                    [title]="title"
                    [floating]="floatingClass"
                    [version]="version"></app-main-toolbar>

  <div class="app-content"
       (scroll)="onScroll($event)">

    <div class="page-container">
      <router-outlet></router-outlet>
    </div>

    <app-footer class="footer"
                [version]="version"
                [homepage]="homepage"></app-footer>
  </div>

  <cookie-law name="onlineBaordCookieLaw"></cookie-law>
</div>
