.app-toolbar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.app-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
  height: 100%;
  padding-top: 80px;
  box-sizing: border-box;
}

.app-content.tall {
  padding-top: 112px;
}

@media (min-width: 601px) {
  .app-content.tall {
    padding-top: 128px;
  }
}
