.customize-toolbar {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.version {
  font-size: 11px;
  color: rgb(255,255,255);
  color: rgba(255,255,255,.9);
}

.toolbar-title {
  flex: 1;
}

.backBtn .mat-icon {
  font-size: 30px;
  height: 30px;
}
