<div class="block-xxl">

  <app-boards-list [loading]="pageLoading"
                   [boards]="boards"></app-boards-list>

  <md-card class="block" *ngIf="!pageLoading">
    <md-card-title>Create a new Board</md-card-title>

    <md-card-content>
      <form [formGroup]="newBoardForm"
            (ngSubmit)="createBoard()"
            class="form"
            novalidate>
        <md-input-container class="full-width">
          <input mdInput
                 placeholder="Board name"
                 type="text"
                 name="board-name"
                 formControlName="boardName">
        </md-input-container>

        <md-card-actions align="end">
          <button md-raised-button
                  type="submit"
                  name="new-board"
                  [disabled]="!newBoardForm.valid || creatingBoard"
                  color="accent">
            <span>Create</span>
            <md-spinner color="primary"
                        strokeWidth="8"
                        *ngIf="creatingBoard"
                        class="loading-spinner-bt"></md-spinner>
          </button>
        </md-card-actions>
      </form>
    </md-card-content>
  </md-card>

</div>
