@font-face {
  font-family: 'WhateverItTakesBold';
  src: url('./assets/fonts/whatever_it_takes_bold.ttf');
}

@font-face {
  font-family: 'WhateverItTakes';
  src: url('./assets/fonts/whatever_it_takes.ttf');
}

@import 'globals/app-theme';
@import 'globals/loader';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: white;
}

md-card {
  max-width: 1200px;
  margin: 20px auto;
}

.block {
  max-width: 800px;
}

.block-xxl {
  margin: 0 auto;
  padding: 10px;
  max-width: 1200px;
}

.full-width {
  width: 100%;
}
