/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

md-card {
  max-width: 1200px;
  margin: 20px auto;
}

.block {
  max-width: 800px;
}

.block-xxl {
  max-width: 1200px;
}
