@import 'globals/app-theme';
@import 'globals/loader';

@font-face {
  font-family: 'WhateverItTakesBold';
  src: url('./assets/fonts/whatever_it_takes_bold.ttf');
}

@font-face {
  font-family: 'WhateverItTakes';
  src: url('./assets/fonts/whatever_it_takes.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

body {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: white;
}

md-card {
  max-width: 1200px;
  margin: 20px auto;
}

[hidden] {
  display: none !important;
}

.block {
  max-width: 800px;
}

.block-xxl {
  margin: 0 auto;
  padding: 10px;
  max-width: 1200px;
}

.full-width {
  width: 100%;
}

.loading-spinner-bt {
  width: 26px!important;
  height: 26px!important;
  margin-left: 4px!important;
  display: inline-block!important;
}
