:host {
  display: block;
}

.dropping-card {
  padding: 36px 0;
  font-size: 18px;
  text-align: center;
  border-radius: 9px;
  color: rgba(0, 0, 0, 0.6);
  border: 2px dashed rgba(0, 0, 0, 0.6);
}
